body {
    background-color: beige;
}
h1 {
    color: black;
    font-weight: bold;
    text-align: center;
    text-shadow: aquamarine 2px 2px;
}

h2 {
    color: black;
    font-weight: bold;
    text-align: center;
}
